@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

:root {
    scroll-behavior: smooth;
    --white: white;
    --accent-color: #ffb731;
    --background-color: #081c2e;
    --background-light-color: #0f3150;
    --opfa-blue: #1e71b8;
    --dark-text-color: #adadad; 
    --section-gap-mobile: 30px;
    --section-gap-desktop: 90px;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0 7vw;
    background-color: var(--background-color);
    overflow-x: hidden;
}

h1, h2, h3, p, a, li {
    color: var(--white);
    font-family: 'Orbitron', sans-serif;
    font-weight: 100;
}

h2 {
    text-align: center;
    font-size: min(45px, 5vw);
}

h3 {
    text-align: center;
    color: var(--dark-text-color);
    font-size: min(17px, 3.5vw);
}

.material-symbols-outlined {
    color: var(--white);
}

a {
    text-decoration: none;
}

div[class$="-section"] {
    margin-top: var(--section-gap-mobile);
}

a.anchor {
    display: block;
    position: relative;
    top: -90px;
    visibility: hidden;
}

.neon-btn {
    display: inline-block;
    color: var(--accent-color);
    font-weight: bold;
    padding: 5px 15px;
    border: 2px solid var(--accent-color);
    border-radius: 3px;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.2),
    0 0 4px var(--accent-color);
    box-shadow: 0 0 0.5em 0 var(--accent-color),
        inset 0 0 0.5em 0 var(--accent-color);
    transition: background-color 100ms linear;
}

.neon-btn:hover,
.neon-btn:focus {
    background-color: var(--accent-color);
    color: var(--background-color);
    text-shadow: none;
}

.header {
    height: max(600px, 100vh);
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(12, minmax(0, 1fr));
    flex-wrap: wrap;
}

h1.brand {
    font-size: min(80px, 6vw);
    letter-spacing: 2vw;
    grid-column: 1 / 9;
    grid-row: 1 / 3;
    margin: auto;
    font-family: 'Monoton', cursive;
    font-weight: 400;
    letter-spacing: 6px;
    text-shadow: 1px 0px 4px var(--opfa-blue),
                    2px 0px 4px var(--opfa-blue),
                    3px 0px 4px var(--opfa-blue),
                    2px 0px 3px var(--background-light-color),
                    2px 3px 15px var(--background-light-color),
                    2px 0px 15px,
                    5px 0px 125px,
                    20px 0vw 200px var(--opfa-blue),
                    40px 0vw 200px var(--background-light-color);
}

.logo {
    grid-column: 1 / 9;
    grid-row-start: 2;
    margin: auto;    
    width: 100%;
    max-width: 57vh;
    animation: light-on 5s linear;
    padding-top: 30px;
    box-sizing: border-box;
}

@keyframes light-on {
    0% { opacity: 0.01; }
	19.999%, 22% { opacity: 0.5; }
    62.999%, 64%, 64.999%, 70% { opacity: 0.7; }
    100% { opacity: 1; }
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% { opacity: 0.4; }
}

p.intro {
    color: var(--dark-text-color);
    font-size: 15px;
    grid-column: 1 / 9;
    grid-row: 8 / 11;
    margin: auto;
    letter-spacing: 2px;
    line-height: 1.4;
    position: relative;
    z-index: 0;
}

p.intro::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--background-color);
    opacity: 0.8;
    filter: blur(0.5em);
}

b.light {
    color: var(--accent-color);
}

.archievements {
    grid-row: 11 / 13;
    grid-column: 1 / 9;
    display: flex;
    text-shadow: 0 0 5px var(--background-color), 0 0 10px var(--background-color);
}

.archievements p {
    color: var(--dark-text-color);
}

.archievements > div {
    margin: auto;
    text-align: center;
    font-size: 11px;
    max-width: 100px;
}

.archievements > div > .value {
    font-size: 18px;
    margin-bottom: 0;
}

.archievements > div > .label {
    margin-top: 0;
}

.navbar-container {
    position: sticky;
    top: 0;
    padding: 10px 0;
    background-color: var(--background-color);
}

.navbar-container .mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-navbar-logo {
    height: 45px;
}

.navbar {
    position: fixed;
    left: -100%;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--background-light-color);
    margin: 0;
    padding: 20px 40px 0;
    transition: 0.5s ease-in-out;
    opacity: 0.98;
}

.navbar.open {
    left: 0;
}

ul > li {
    list-style-type: none;
    margin: 15px 0;
}

ul > li:not(.home) {
    margin: 0;
}

ul.navbar li > * {
    display: block;
}

ul > li:not(.home) > * {
    padding: 15px 0;
}

li.home img {
    height: 50px;
}

li.contacts .material-symbols-outlined {
    margin-right: 5px;
    color: var(--accent-color);
    font-weight: 200;
}

.main-content {
    padding: 0;
    margin: 0 auto;
    max-width: 1400px;
}

.services {
    margin-top: 30px;
    display: grid;
    row-gap: 7vw;
}

.services > div {
    aspect-ratio: 1;
    background-color: var(--background-light-color);
    width: 70%;
    padding: 10%;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.services > div:nth-child(2) {
    background-color: var(--accent-color);
}

.services > div:nth-child(2) p,
.services > div:nth-child(2) span {
    color: var(--background-color);
}

.services p {
    margin: 0;
}

.services p.service {
    font-size: 20px;
}

.services > div > .material-symbols-outlined {
    font-size: 12vw;
}

div.project {
    display: grid;
}

div.project ~ div.project {
    margin-top: var(--section-gap-mobile);
}

div.project > * {
    width: 100%;
}

.project-description-container {
    text-align: center;
}

.project-name {
    font-size: 17px;
    letter-spacing: 1pt;
    font-weight: bold;
}

.project-description {
    color: var(--dark-text-color);
}

.project-details-btn {
    border: none;
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.project-details-btn span.material-symbols-outlined {
    color: var(--accent-color);
    font-weight: 300;
    font-size: 60px;
}

.project-modal {
    max-width: 80%;
    border: none;
    border-radius: 5px;
    background-color: var(--background-light-color);
    box-shadow: 0 0 1em var(--background-color);
}

.project-modal[open] {
    animation: 
        slide-up 500ms forwards,
        fade-in 500ms forwards;
}
.project-modal[open]::backdrop {
    animation: backdrop-fade-in 500ms forwards;
}

.project-modal[closing] {
    display: block;
    pointer-events: none;
    inset: 0;
    animation: fade-out 500ms forwards;
}
.project-modal[closing]::backdrop {
    animation: backdrop-fade-out 500ms forwards;
}

.project-modal::backdrop {
    background: linear-gradient(25deg, #081c2e, #ffb731);
    opacity: .15;
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes backdrop-fade-in {
    0% { opacity: 0; }
    100% { opacity: .15; }
}

@keyframes fade-out {
    100% { opacity: 0; }
    0% { opacity: 1; }
}

@keyframes backdrop-fade-out {
    100% { opacity: 0; }
    0% { opacity: .15; }
}

@keyframes slide-up {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0%); }
}

.close-modal-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    border: none;
    background: none;
    cursor: pointer;
}

.close-modal-btn span {
    color: var(--accent-color);
}
 
.join-us-content {
    text-align: center;
}

.join-us-content p:first-of-type {
    font-size: 15px;
}

.join-us-content p:nth-child(2) {
    color: var(--dark-text-color);
    font-size: 13px;
}
 
.join-us-content a {
    margin: 30px auto 0;
}

div.contact-us-section {
    text-align: center;
    margin-top: calc(2 * var(--section-gap-mobile));
}

.contact-us-section a {
    margin-top: 1rem;
}

div.footer-section {
    margin-top: calc(2 * var(--section-gap-mobile));
    text-align: center;
    padding: 15px;
}

.footer-section p {
    color: var(--dark-text-color);
    font-size: 10px;
}

@media screen and (min-width: 600px) {

    h2 {
        margin-bottom: 0;
        letter-spacing: 3pt;
    }

    h3 {
        margin-bottom: 45px;
        letter-spacing: 1pt;
    }

    h1.brand {
        letter-spacing: 8px;
    }

    .logo {
        grid-column: 4 / 9;
        grid-row: 3 / 12;
    }

    p.intro {
        font-size: 15px;
        grid-column: 1 / 5;
        grid-row: 7 / 11;
    }

    .archievements > div > .value {
        font-size: 23px;
    }

    .archievements > div > .label {
        font-size: 15px
    }

    .services {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: 7vw;
    }

    .services > div {
        width: min(300px, 100%);
        padding: 13%;
    }

    .services > div > .material-symbols-outlined {
        font-size: 35px;
    }

    .services p.service {
        font-size: 15px;
    }

    .services p.clients {
        font-size: 12px;
    }

    div.contact-us-section {
        margin-top: calc(2 * var(--section-gap-desktop));
    }
    
    .contact-us-section a {
        margin-top: 3rem;
    }
    
    div.footer-section {
        margin-top: calc(2 * var(--section-gap-desktop));
        padding: 30px;
    }
}

@media screen and (min-width: 900px) {

    h1.brand {
        letter-spacing: 10px;
    }

    .logo {
        grid-column-start: 4;
        grid-row: 3 / 13;
        height: 100%;
        width: auto;
    }

    div.project {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        align-items: center;
        column-gap: 15px;
        margin-top: var(--section-gap-desktop);
    }

    div.project ~ div.project {
        margin-top: var(--section-gap-desktop);
    }

    div.project:nth-child(even) .project-description-container {
        order: -1;
    }

    div.join-us-content {
        display: grid;
        grid-template-columns: 70% 30%;
        margin-top: 30px;
        padding: 0 12%;
        box-sizing: border-box;
    }

    div.join-us-content p {
        text-align: left;
        letter-spacing: 1pt;
    }

    div.join-us-content p:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
        font-size: 18px;
    }

    div.join-us-content p:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
        font-size: 16px;
    }

    div.join-us-content a {
        grid-column: 2;
        grid-row: 1 / 3;
        margin: auto;
        margin-right: 0;
    }

}

@media screen and (min-width: 1300px) {

    div[class$="-section"] {
        margin-top: var(--section-gap-desktop);
    }

    h1.brand {
        grid-row: 1 / 4;
        letter-spacing: 20px;
    }

    h2 {
        margin-bottom: 0;
    }

    h3 {
        margin-bottom: var(--section-gap-desktop);
    }

    .header {
        height: max(600px, calc(100vh - 100px));
    }

    p.intro {
        font-size: 20px;
        grid-column: 1 / 4;
    }

    .archievements {
        grid-row: 3 / 13;
        grid-column: 8 / 9;
        flex-direction: column;
    }

    .archievements > div {
        margin-right: 0;
    }

    .archievements > div > .value {
        font-size: 27px;
    }

    .navbar-container {
        margin-bottom: -30px;
    }

    .navbar-container .mobile {
        display: none;
    }

    .navbar {
        position: unset;
        background: transparent;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr repeat(4, fit-content(1px)) 1fr;
        column-gap: 30px;
    }

    li.close-menu-btn {
        display: none;
    }

    ul > li:not(.home) {
        margin: auto 0;
    }

    ul > li:last-child {
        text-align: right;
    }

    .services > div > .material-symbols-outlined {
        font-size: 60px;
    }

    .services p.service {
        font-size: 23px;
    }

    .services p.clients {
        font-size: 16px;
    }
    

    div.project {
        column-gap: 50px;
    }

    div.project img {
        max-width: 550px;
        margin: auto;
    }

    div.contact-us-section {
        margin-top: calc(2 * var(--section-gap-desktop));
    }

    .contact-us-section .content{
        display: flex;
    }

    .contact-us-section .content > * {
        margin: auto;
    }

}