@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0e0e3f;
}

.header {
    height: 100vh;
    position: relative;
    display: flex;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 100;
    font-size: 6vw;
    letter-spacing: 2vw;
    color: white;
    margin: 50px auto 0;
    height: fit-content;
}

.header > img {
    position: absolute;
    width: 80vw;
    top: 8vh;
    left: 20vw;
}

@media screen and (min-width: 600px) {

    .header > img {
        width: 60vw;
        top: 5vh;
        left: 35vw;
    }
    
}

@media screen and (min-width: 600px) {

    .header > img {
        top: 2vh;
        left: unset;
        height: 100vh;
        width: unset;
        right: 5vw;
    }

}