@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root {
    scroll-behavior: smooth;
    --white: white;
    --accent-color: #ffb731;
    --background-color: #282828;
    --background-light-color: #3a3a3a;
    /* --background-color: #0e0e3f; */
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0 7vw;
    background-color: var(--background-color);
}

h1, p, a, li {
    color: var(--white);
    font-family: 'Orbitron', sans-serif;
    font-weight: 100;
}

.material-icons {
    color: var(--white);
}

a {
    text-decoration: none;
}

.header {
    height: max(600px, 100vh);
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(12, minmax(0, 1fr));
    flex-wrap: wrap;
}

h1.brand {
    font-size: 6vw;
    letter-spacing: 2vw;
    grid-column: 1 / 9;
    grid-row: 1 / 3;
    margin: auto;
}

.logo {
    grid-column: 1 / 9;
    grid-row-start: 2;
    margin: auto;    
    width: 100%;
    max-width: 57vh;
}

p.intro {
    font-size: 15px;
    grid-column: 1 / 9;
    grid-row: 8 / 11;
    margin: auto;
    letter-spacing: 2px;
    line-height: 1.4;
    text-shadow: 0 0 5px var(--background-color), 0 0 10px var(--background-color);
}

b.light {
    color: var(--accent-color);
}

.archievements {
    grid-row: 11 / 13;
    grid-column: 1 / 9;
    display: flex;
    text-shadow: 0 0 5px var(--background-color), 0 0 10px var(--background-color);
}

.archievements > div {
    margin: auto;
    text-align: center;
    font-size: 11px;
    max-width: 100px;
}

.archievements > div > .value {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
}

.navbar-container {
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    padding: 10px 0;
}

.navbar-container .mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-navbar-logo {
    height: 45px;
}

.navbar {
    position: fixed;
    left: -100%;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--background-light-color);
    margin: 0;
    padding: 0 40px;
    transition: 0.5s ease-in-out;
}

.navbar.open {
    left: 0;
}

ul > li {
    list-style-type: none;
    margin: 15px 0;
}

li.home img {
    height: 50px;
}

li.contacts {
    display: flex;
    align-items: center;
}

li.contacts .material-icons {
    margin-right: 5px;
}

@media screen and (min-width: 600px) {

    .logo {
        grid-column: 4 / 9;
        grid-row: 3 / 12;
    }

    p.intro {
        font-size: 15px;
        grid-column: 1 / 5;
        grid-row: 7 / 11;
    }

    .archievements > div > .value {
        font-size: 23px;
    }

    .archievements > div > .label {
        font-size: 15px
    }

    .navbar-container .mobile {
        display: none;
    }

    .navbar {
        position: unset;
        flex-direction: row;
        background-color: var(--background-color);
        align-items: center;
        padding: 0;
    }

    .navbar > li {
        margin: auto 15px;
    }

    li.close-menu-btn {
        display: none;
    }

    li.home {
        margin-left: 0;
        margin-right: auto;
    }

    li.contacts {
        margin-left: auto;
        margin-right: 0;
    }

}

@media screen and (min-width: 1300px) {

    h1.brand {
        grid-row: 1 / 4;
    }

    .header {
        height: max(600px, calc(100vh - 100px));
    }

    .logo {
        grid-column: 4 / 8;
        grid-row: 3 / 12;
    }

    p.intro {
        font-size: 20px;
        grid-column: 1 / 4;
    }

    .archievements {
        grid-row: 3 / 13;
        grid-column: 8 / 9;
        flex-direction: column;
    }

    .archievements > div {
        margin-right: 0;
    }

    .archievements > div > .value {
        font-size: 27px;
    }

}